*{
	margin: 0;
	padding: 0;
}
body{
	background: #34495E;

}
.continer {
    width: 30%;
    height: 85vh;
    background: #5D6D7E;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.continer h1 {
    text-align: center;
    text-decoration: underline;
    color: white;
    padding: 15px;
}
.continer label {
    font-family: sans-serif;
    color: white;
    margin: 51px;
}
input {
    width: 72%;
    padding: 5px;
    outline: none;
    border-radius: 3px;
    border: none;
    margin: 5px 51px;
}
input[type="submit"] {
    width: 26%;
    padding: 12px;
    margin: 36px 142px;
    background: deepskyblue;
    color: white;
    cursor: pointer;
}

        /*Result page css*/

.resultConitner {
    width: 25%;
    height: 47%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17%;
    background: #00bfff;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.resultConitner h4 {
    font-family: sans-serif;
    text-align: center;
    padding-top: 34px;
}
.resultConitner h5 {
    font-family: sans-serif;
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
}